<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#">Prueba Double V Partners</a>
  </div>
</nav>
<div class="container ">
  <div class="card-container text-center" *ngIf="!regist">
    <div class="card text-center mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">INICIO DE SESION</h5>
        <form [formGroup]="formLogin">
          <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping" formControlName="user">
          </div>
          <div class="input-group flex-nowrap input-password">
            <input type="password" class="form-control" placeholder="password" aria-label="Username" aria-describedby="addon-wrapping" formControlName="pass">
          </div>
          <div class="container text-center container-buttons">
            <div class="row">
              <div class="col">
                <button type="button" class="btn btn-primary" (click)="login()" [disabled]="!formLogin.valid">Ingresar</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-secondary" (click)="regist = true">Registrarse</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="register-container" *ngIf="regist">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="formRegister">
          <form>
            <div class="row">
              <div class="mb-3 col">
                <label for="exampleInputEmail1" class="form-label">Nombres</label>
                <input type="text" class="form-control" aria-describedby="emailHelp">
              </div>
              <div class="mb-3 col">
                <label class="form-label">Apellidos</label>
                <input type="text" class="form-control" >
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col">
                <label  class="form-label">Tipo de identificacion</label>
                <select class="form-select" aria-label="Default select example">
                  <option selected></option>
                  <option value="CC">Cedula de Ciudadania</option>
                  <option value="TI">Tarjeta de Identidad</option>
                  <option value="PA">Pasaporte</option>
                </select>
              </div>
              <div class="mb-3 col">
                <label  class="form-label">Número de identificación</label>
                <input type="number" class="form-control" >
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" placeholder="correo@correo.com">
              </div>
              <div class="mb-3 col">
                <label class="form-label">Nombre de usuario</label>
                <input type="text" class="form-control" >
              </div>
              <div class="mb-3 col">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" >
              </div>
            </div>
            <div class="buttons-container">
              <button type="submit" class="btn btn-primary">Registrar</button>
              <button type="button" class="btn btn-secondary cancel-register-button" (click)="cancelRegister()">Cancelar</button>
            </div>
          </form>
        </form>
      </div>
    </div>
  </div>
</div>